<div class="container">
  <div class="header-container" id="header__top">
    <a href="../index.html">
      <svg width="132" height="24">
        <use href="./img/sprite.svg#icon-Logo"></use>
      </svg>
    </a>
    <nav class="header__nav">
      <a id="homeButton" class="nav-btn" href="../index.html">Home</a>
      <a id="favoritesButton" class="nav-btn" href="../favorites.html"
        >Favorites</a
      >
    </nav>
    <ul class="header__socials-list">
      <li class="header__social-item">
        <a
          href="https://www.facebook.com/goITclub/"
          class="header__social-link"
          target="_blank"
          rel="noopener noreferrer"
          arial-label="facebook icon"
        >
          <svg class="header__social-icon" width="7" height="17">
            <use href="../img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header__social-item">
        <a
          href="https://www.instagram.com/goitclub/"
          class="header__social-link"
          target="_blank"
          rel="noopener noreferrer"
          arial-label="instagram icon"
        >
          <svg class="header__social-icon" width="24" height="24">
            <use href="../img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header__social-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="header__social-link"
          target="_blank"
          rel="noopener noreferrer"
          arial-label="youtube icon"
        >
          <svg class="header__social-icon" width="24" height="24">
            <use href="../img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
